.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
}
ul,
li {
  list-style: none;
}

/* ----------- HEADER---------------- */
.nav-links {
  display: flex;
}
.nav-link {
  margin: 0 1rem;
}

.nav-link > a {
  border-radius: 35px;
  background: #fafafa;
  box-shadow: 4px 4px 6px #3333339c, -8px -8px 16px #ffffff;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.4rem;
  color: black;
  font-size: 1.4rem;
}
.nav-link:hover > a {
  border-radius: 35px;
  background: #fafafa;
  box-shadow: inset 4px 4px 10px #c6c6c6, inset -16px -16px 16px #ffffff;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
  padding: 0 2rem;
  border-radius: 35px;
  background: #fafafa;
  box-shadow: inset 4px 4px 10px #c6c6c6, inset -16px -16px 16px #ffffff;
}

/* ------------- LOG IN / REGISTER-------------- */

.form-wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-log {
  min-height: 40vh;
  width: 40%;
  border-radius: 37px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #c9c9c9, -8px -8px 16px #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-log h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form-log label {
  font-size: 1.4rem;
}
.form-log input {
  margin: 1rem 0;
  border: none;
  padding: 1rem;
  border-radius: 37px;
  background: #ffffff;
  box-shadow: inset 8px 8px 16px #c9c9c9, inset -8px -8px 16px #ffffff;
}

.buttons input {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 37px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #c9c9c9, -8px -8px 16px #ffffff;
}
.buttons input:hover {
  border-radius: 35px;
  background: #fafafa;
  box-shadow: inset 4px 4px 10px #c6c6c6, inset -16px -16px 16px #ffffff;
}
.form-to {
  color: #000;

  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 37px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #c9c9c9, -8px -8px 16px #ffffff;
}
.form-to:hover {
  border-radius: 35px;
  background: #fafafa;
  box-shadow: inset 4px 4px 10px #c6c6c6, inset -16px -16px 16px #ffffff;
}

.contacts-container {
  border-radius: 37px;
  background: #fffefe;
  box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #ffffff;
  min-height: 90vh;
  width: 60%;
  margin: 3rem auto;
}
.contacts-container h2 {
  font-size: 3rem;
  padding: 1rem 0;

  border-bottom: 1px solid black;
}
/* Contacts List */
.contact-list-wrapper {
  display: flex;
  justify-content: center;

  height: 90vh;
  align-items: stretch;
}
/* Contact cards */
.contact-card {
  width: 100%;
  border-right: 1px solid black;
  overflow-y: auto;
  overflow-x: visible;
  z-index: 200;
}

.contact-details {
  min-height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: inset 10px 10px 30px #c0c0c0, inset -10px -10px 30px #ffffff;
}

/* --------------Contact */

.contact-wrapper {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  /* border-right: 1px solid black; */

  padding: 0.5rem 2rem;
  position: relative;
  height: 40px;
}

/* .contact-wrapper:hover::after {
  content: "";
  width: 27px;
  height: 27px;
  background-color: #fffefe;
  border-bottom: 1px solid black;
  border-left: 1px solid black;

  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: -1.4rem;
  animation: arrowAppear 0.3s forwards;
  z-index: 400;
}
@keyframes arrowAppear {
  0% {
    width: 0px;
    height: 0px;
    right: -0.4rem;
  }
  100% {
    width: 27px;
    height: 27px;
  }
} */

.contact-wrapper h4 {
  font-size: 1.4rem;
}
.contact-wrapper p {
  font-size: 1.2rem;
}
.contact-wrapper > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  font-size: 2.2rem;

  border-radius: 50%;
  background: #fff;
  box-shadow: 6px 6px 12px #969696, -6px -6px 12px #ffffff;
  cursor: pointer;
}

.detail-card {
  margin-top: 2rem;
}

/* If no contact selected */
.detail-no-view {
  font-size: 2.2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.detail-avatar {
  width: 10rem;
  border-radius: 50%;
}
.detail-icon {
  font-size: 2.2rem;
  color: green;
}

.detail-card h4 {
  font-size: 2.6rem;
  margin: 1rem 0 2rem;
}

.data-container {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto 2.2rem;
}
.data-container p {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Icons */
.fa-linkedin {
  color: #0a66c2;
}
.fa-facebook-square {
  color: #1156f5;
}
.fa-twitter-square {
  color: #1d9bf0;
}

/* ---- SCROLL BAR IN CONTACTS */

.Content {
  direction: ltr;
}

/*This cause the division content
to be displayed from right to left */
.Flipped {
  direction: rtl;
}

/* Designing for scroll-bar */
.contact-card::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.contact-card::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
.contact-card::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
.contact-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}
